footer.mastfoot.mt-auto
  div.inner
    a(href='https://github.com/fragferir/TRIVIAP' target='_blank' class='text-center' style='font-size: 48px; color: white;')
      i(class='fa fa-github') 
    p ET Num 35 "Ingeniero Eduardo Latzina"
