extends layout

block content
  main.inner.cover(role='main')
    h1.cover-heading1 EL GRAN DESAFIO!
    h3.texto Cuanto sabes sobre computadoras? 
    p.lead
      a.btn.btn-lg.btn-secondary(href='/play') JUGA!
  
