extends layout

block content
  main.inner.cover(role='main')
    h1.cover-heading2 NO ESTAS AUTORIZADO
    .texto2 Ingrese con un usuario y contraseña, por favor.
    p.lead
      a.btn.buttonun.btn-secondary(href='/login') LOGUEARSE
